<html>
    <head>
        <title>{% block title %}Registration page{% endblock %}</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col-xs-1 col-md-4"></div>
            <div class="col-xs-10 col-md-4">
                <h2>Sign up!</h2>
            </div>
            <div class="col-xs-1 col-md-4"></div>
        </div>
        {{ include ("SARegistrationBundle:Register:form.html.twig") }} 
    </body>
</html>